@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:black;
}

.container{
  background-color: #393c3dd7;
  border-radius: 10px;
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.418);
  margin: auto;
  margin-top: 100px;
  text-align: center;
  width: 300px;
  height: 400px;
}

.visor{
  margin-top: 20px;
  font-size: 2rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.637);
  color: white;
  border: none;
  text-align: right;
  width: 80%;
  height: 40px;
}

.functions{
  margin-top: 50px;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 55px 55px 55px 55px;
  grid-template-rows: 60px 60px 60px 60px;
}


.buttons{
  background-color: #f1f3f4cc;
  box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.377);
  user-select: none;
  text-align: center;
  line-height: 50px;
  border-radius: 8px;
  width: 50px;
  height: 50px;
}

.operadores{
  background-color: #cada39cc
}